/*----*/

.grid-might{
	float:left;
	width: 29%;
}
.might-top{
	float:right;
	width:71%;
	
	position:relative; 
	/*
    background-color:#C0C0C0; */
	top:60px;
	margin-left: auto;
    margin-right: auto;
    width: 50%;
	/*
	border:1px #000 solid; */
    margin:20px auto;
}
.might-top p{
	font-size:0.9em;
	color:#494949;
	line-height:1.8em;
}
.might-grid {
	padding: 1em 0 0;
	background-color : #DAD5C1;
}
.might h4 {
	background: #5261ac;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.35em;
	font-weight: 700;
	display: block;
	line-height: 1em;
	text-transform: uppercase;
}
.might-top a{
	text-decoration:none;
	color:#00aedb;
	font-size:1em;
	display:inline-block;
	padding: 1em 0 0;	
}
.might-top a:hover{
	color:#ec098d;
}
.might-top a i{
	background: url(../images/img-sprite.png)no-repeat -103px -103px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}
.grid-top h4,.grid-top-in h4 {
	background: #5261ac;
	color: #fff;
	padding: 10px 20px;
	font-size: 1.35em;
	font-weight: 700;
	display: block;
	line-height: 1em;
	text-transform: uppercase;
}

.might-grid p{  /*
	text-align: center  */
	
}

.left-col {
	background : #DAD5C1;
	width : 60%;
	float : left;
	margin-top : 2%;
	border-radius : 10px;
}
.left-col {
	width: 100%;
}

.vid {
	position : relative;
	padding-bottom : 56.25%;
	padding-top : 30px;
	height : 0;
	overflow : hidden;
}
.vid iframe {
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}
/*.footer {
    position:relative;
    top:50px;
    height:145px;
    left:40px;
    width:1865px;
    border-radius:5px;
}
    .footer .social {
        position:relative;
        top:10px;
        height:50px;
        left:800px;
        width:170px;
        border-radius:5px;
    }

.footer .contact {
        background: #003366; 
        position:relative;
        top:25px;
        height:50px;
        left:0px;
        width:1865px;
        border-radius:5px;
}
    .footer .contact p {
        position:relative;
        top:15px;
        text-align:center;
        color:white;
    }*/
.header {
    position:relative;
    width:1865px;
    height:80px;
    top:3px;
    left:40px;
    border-radius:5px;
}
    .header #search {
        position:relative;
        top:5px;
        width:400px;
        left:1450px;
        height:25px;
        font-family:'Century Gothic';
    }
.logoheader {
    position:relative;
    width:1400px;
    height:150px;
    top:10px;
    left:300px;
    background-color:silver;
}
.logoheader img {
    position:relative;
    left:600px;
}
span img {
    width:960px;
}
.nav {
	overflow: hidden;
    top:60px;
    height:66px;
    background-color:white;
}
    .nav ul li a {
        text-decoration:none;
        font-family: georgia;
	    font-weight: normal;
	    font-style: italic;
	    font-size: 16px;
	    margin-bottom: 5px;
	    line-height: 16px;
    }
    .nav li:hover {
        background: silver;
	    border-left: 5px solid #000;
    }
.logoheader ul li {
    float:left;
    list-style:none;
    width: 120px; border-left: 5px solid #666;
	float: left;
	cursor: pointer;
	list-style-type: none;
	padding: 10px 50px 10px 15px;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;   
}




/**{
  margin:0;
  padding:0;
}*/
#slide{
  position:relative;
  top:50px;
  width: 960px;
  height: 350px;
  overflow:hidden;
  margin: 30px auto;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,1);
}
#slide div{
  display:block;
  width:0;
  float: left;
  -webkit-transition: all 0.75s;
  -moz-transition: all 0.75s;
  -o-transition:all 0.75s;
  transition: all 0.75s;
}

button.prev, button.next {
  position: absolute;
  z-index: 999;
  display: block;
  padding:0 10px;
  width: auto;
  height:350px;
  background: rgba(0,0,0,0);
  color: #ffffff;
  font-size:26px;
  cursor: pointer;
  border:none;
  outline:none;
}
button.prev:hover, button.next:hover {
  background: rgba(0,0,0,0.8);
}
button.next {
    margin-left: 926px;
}
.middle {
  position:relative;
  top:50px;
  width: 960px;
  height: 150px;
  /*background-color:black;*/
  left:470px;
  /*box-shadow: -6px 8px 6px 8px rgba(1,0,0,1);*/
}
#tabula {
    position:relative;
    left:150px;
}
    #tabula tr {
        position:relative;
        width:40px;
    }
#tabula tr td {
   padding-right:100px;
   position:relative;
   right:250px;
   width:20px;

}
    .middle #mission {
       width:315px;
       height:100px;
       left:30px;
       background-color:silver;
       box-shadow: 0px 8px 6px -6px rgba(0,0,0,1);
    }
    .middle #vision {
          background-color:silver;
          width:315px;
          height:100px;
          left:30px;
          box-shadow: 0px 8px 6px -6px rgba(0,0,0,1);
    }
    .middle #values {
           background-color:silver;
           width:315px;
           height:100px;
           left:30px;
           box-shadow: 0px 8px 6px -6px rgba(0,0,0,1);
    }

    .middle #mission h3 {
        position:relative;
        top:35px;
        left:130px;
        font-size:25px;
        font-family:'Century Gothic';
    }
    .middle #vision h3 {
        position:relative;
        top:35px;
        left:130px;
        font-size:25px;
        font-family:'Century Gothic';
    }
    .middle #values h3 {
        position:relative;
        top:35px;
        left:130px;
        font-size:25px;
        font-family:'Century Gothic';
    }

   




@import url(http://fonts.googleapis.com/css?family=Orbitron);
.middle #mission:hover {
	position: relative;
	font-family: Orbitron, sans-serif;
	max-width: 500px;
	line-height: 0;
    max-width: 100%;
}
.middle #vision:hover {
    position: relative;
	font-family: Orbitron, sans-serif;
	max-width: 500px;
	line-height: 0;
    max-width: 100%;
}
.middle #values:hover {
    position: relative;
	font-family: Orbitron, sans-serif;
	max-width: 500px;
	line-height: 0;
    max-width: 100%;
}


.middle #mission p{
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-weight: 100;
    top:5px;
	box-sizing: border-box;
	font-size: 1em;
	transition: 1s linear;
	color: black;
	padding: 10%;
	opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.middle #vision p{
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-weight: 100;
    top:10px;
	box-sizing: border-box;
	font-size: 1em;
	z-index: 2;
	transition: 1s linear;
	color: black;
	padding: 10%;
	opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.middle #values p{
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 1;
	font-weight: 100;
	text-align: center;
	box-sizing: border-box;
	font-size: 1em;
	z-index: 2;
	transition: 1s linear;
	color: black;
	padding: 10%;
	opacity: 0;
  /*-webkit-touch-callout: none;
  -webkit-user-select: none;*/
}

.middle #vision p:hover { opacity: 1; }
.middle #mission p:hover { opacity: 1; }
.middle #values p:hover { opacity: 1; }

.middle #vision p:nth-child(odd):hover { left: 0; z-index: 9; }
.middle #mission p:nth-child(odd):hover { left: 0; z-index: 9; }
.middle #values p:nth-child(odd):hover { left: 0; z-index: 9; }

	 
.middle #vision p:nth-child(2) {  /*top panel*/  
	top: -20%;
	left: 0;
	background: #336699; 
	}   
 
.middle #mission p:nth-child(2) { /* top panel */ 
	top: -20%;
	left: 0;
	background: #336699; 
	}   
 
.middle #values p:nth-child(2) { /* top panel */ 
	top: -20%;
	left: 0;
	background: #336699; 
	}
.footer {
    position:relative;
    top:50px;
    height:145px;
    left:40px;
    width:1865px;
    border-radius:5px;
}
    .footer .social {
        position:relative;
        top:20px;
        height:50px;
        left:820px;
        width:170px;
        border-radius:5px;
    }

.footer .contact {
        background: #003366; 
        position:relative;
        top:1250px;
        height:50px;
        right:45px;
        width:1900px;
        border-radius:5px;
}
    .footer .contact p {
        position:relative;
        top:20px;
        text-align:center;
        right:450px;
        color:white;
    }
.logos{
        position:relative;
        width:1070px;
        height:600px;
        left:400px;
        top:40px;
    }

.logos .myTable #rowone #data1 .nmmu{
    position:relative;
    /*background-color:black;*/
    height:200px;
    border-color:#336699;
    right:250px;
}

.logos .myTable #rowone #data2 .ru{
    position:relative;
    /*background-color:black;*/
    height:200px;
    border-color:#336699;
    right:200px;
}

.logos .myTable #rowone #data3 .unisa{
    position:relative;
    /*background-color:black;*/
    height:200px;
    border-color:#336699;
    right:150px;
}

.logos .myTable #rowtwo #data4 .wsu{
    position:relative;
    /*background-color:black;*/
    height:200px;
    border-color:#336699;
}


    .logos .myTable #rowone #data1 {
        padding-right:10px;
        padding-bottom:60px;

    }

     .logos .myTable #rowone #data2{
        padding-right:50px;
        padding-bottom:60px;

    }

    .logos .myTable #rowone #data3{
        padding-right:140px;
        padding-bottom:60px;

    }

     .logos .myTable #rowtwo #data4{
        padding-right:40px;
        padding-bottom:60px;
        left:150px;

    }


        .logos .myTable #rowone #data1{
            padding-left:190px;
            
        }

.myTable {
    position:relative;
    left:150px;
}



 
.logos .myTable #rowone #data1 .nmmu:hover {
  -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}

.logos .myTable #rowone #data2 .ru:hover {
  -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}

.logos .myTable #rowone #data3 .unisa:hover {
  -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}

.logos .myTable #rowtwo #data4 .wsu:hover {
  -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}

.logos .myTable #rowtwo #data5 .fu:hover {
  -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}






/*.logos .myTable tr td :hover .nmmu{
 -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}*/
/*.logos #ru:hover{
 -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}
.logos #unisa:hover{
 -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}
.logos #wsu:hover{
 -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}

.logos #fu:hover{
 -webkit-transformation:scale(1.3);
  -ms-transform:scale(1.3);
   transform:scale(1.3);
}*/

